<div class="about">
    <div class="title-box">
        <div class="block1"></div>
        <h1>about <span>us</span></h1>
        <div class="block2"></div>
    </div>

    <div class="about-box">
        <div class="img">
            <img src="./images/cheesecake/cheesecake1.jpg" alt="">
        </div>
        <div class="content">
            <h1>What makes our cake special?</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis omnis quidem inventore quisquam.
                Exercitationem assumenda quasi ratione possimus est officiis accusantium suscipit sit debitis ullam
                necessitatibus sapiente maxime illo quae laborum maiores cumque quod consectetur beatae corporis fuga.
                <br><br>

                necessitatibus sapiente maxime illo quae laborum maiores cumque quod consectetur beatae corporis fuga
                placeat eum, rem in! Assumenda non, natus neque quae numquam accusantium provident. Iusto qui deleniti,
                quas voluptatum itaque id quia earum odio quod. Temporibus, pariatur est quos odio provident facere
                cupiditate dolore accusamus voluptatum ad quisquam ipsa.</p>
            <a href="" class="learn-more">learn more</a>
        </div>
    </div>
</div>