<div class="cake-box">
    <div class="title-box">
        <div class="block1"></div>
        <h1>our <span>cakes</span></h1>
        <div class="block2"></div>
    </div>


    <div class="cols-outer">

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cakes/cake1.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cakes/cake2.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cakes/cake3.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cakes/cake4.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cakes/cake5.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cakes/cake6.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cheesecake/cheesecake1.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-in" ontouchstart="this.classList.toggle('hover');">
            <div class="main-box">
                <div class="front-side" style="background-image: url(./images/cheesecake/cheesecake2.jpg)">
                    <div class="inner-area">
                        <p>Diligord</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back-side">
                    <div class="inner-area">
                        <p>chocolate cake is a cake flavored with melted chocolate, cocoa powder, or both. Chocolate
                            cake is made with chocolate.</p>
                        <button class="cake-view-btn">view cake</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>