<div class="contact">
    <div class="title-box">
        <div class="block1"></div>
        <h1>contact <span>us</span></h1>
        <div class="block2"></div>
    </div>

    <div class="contact-box-main">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.8924276180337!2d77.21679907550083!3d28.632985975664514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd37ebbdf4af%3A0x2be7eefccedf4b84!2sRajiv%20Chowk!5e0!3m2!1sen!2sin!4v1710997731814!5m2!1sen!2sin"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-form">
            <form action="">
                <h3>get in touch</h3>
                <div class="input-box">
                    <span class="fas fa-user"></span>
                    <input type="text" name="name" placeholder="name" id="name">
                </div>
                <div class="input-box">
                    <span class="fas fa-envelope"></span>
                    <input type="email" name="email" placeholder="email" id="email">
                </div>
                <div class="input-box">
                    <span class="fas fa-phone"></span>
                    <input type="tel" name="tel" placeholder="phone number" id="tel">
                </div>
                <button class="contact-btn">Connect</button>
            </form>
        </div>
    </div>
</div>