<header class="header">
    <a href="" class="logo"><img src="./images/logo.png" alt=""></a>
    <nav class="Navbar">
        <a href="">Home</a>
        <a href="">cakes</a>
        <a href="">Cheesecakes</a>
        <a href="">New arrivals</a>
        <a href="">About</a>
        <a href="">Reviews</a>
        <a href="">contact</a>
    </nav>

    <div class="icons">
        <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></div>
        <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
    </div>

    <!-- search -->
    <div class="search-form view-search" style="z-index: 1000;">
        <input type="search" name="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fa-solid fa-magnifying-glass"></label>
    </div>

    <!-- cart -->
    <div class="cart-items-container view-cart">
        <h2>Place Order</h2>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/brownes.jpg" alt="">
            <div class="content">
                <h3>Brownie</h3>
                <div class="price">₹115.00/-</div>
            </div>
        </div>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/cakes/cake1.jpg" alt="">
            <div class="content">
                <h3>cake 1</h3>
                <div class="price">₹700.00/-</div>
            </div>
        </div>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/cakes/cake2.jpg" alt="">
            <div class="content">
                <h3>cake 2</h3>
                <div class="price">₹700.00/-</div>
            </div>
        </div>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/cakes/cake3.jpg" alt="">
            <div class="content">
                <h3>cake 3</h3>
                <div class="price">₹700.00/-</div>
            </div>
        </div>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/cakes/cake4.jpg" alt="">
            <div class="content">
                <h3>cake 4</h3>
                <div class="price">₹700.00/-</div>
            </div>
        </div>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/cakes/cake4.jpg" alt="">
            <div class="content">
                <h3>cake 5</h3>
                <div class="price">₹700.00/-</div>
            </div>
        </div>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/cakes/cake4.jpg" alt="">
            <div class="content">
                <h3>cake 6</h3>
                <div class="price">₹700.00/-</div>
            </div>
        </div>

        <div class="cart-item">
            <span class="fa-solid fa-trash"></span>
            <img src="./images/cakes/cake4.jpg" alt="">
            <div class="content">
                <h3>cake 7</h3>
                <div class="price">₹700.00/-</div>
            </div>
        </div>
    </div>
</header>